<nav class="navbar navbar-expand-lg" style="background-color: #00b0e8; color: white; margin-bottom: 15px;">
  <a class="navbar-brand">Project Timeline</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav"></div>
</nav>
<br>

<table class="container-fluid">   
  <tr class="timeLineRow">
    <td style="width: 20%">{{earliestYear}}</td>
    <td style="width: 20%">|</td>
    <td style="width: 20%">{{((latestYear - earliestYear) / 2) + earliestYear}}</td>
    <td style="width: 20%">|</td>
    <td style="width: 20%">{{latestYear}}</td>
  </tr>
</table>
<table class="container-fluid timeLine">
  <tr>
    <td *ngFor="let i of testConfig" [ngStyle]="drawCell(i)" class="aBlock">{{i.name}}</td>
  </tr>
</table>
<br>
<h4 class="kickOffText">Kick Off Date: <span class="dateText">{{date | date}}</span></h4>

