.bar-step {
  position:absolute;
  margin-top:-20px;
  z-index:1;
  font-size:12px;
}

.label-txt {
  float: left;
  font-size: large;
  color: blue;
}

.label-percent {
  font-size: large;
  color: blue;
}

.label-line {
  float: right;
  background: pink;
  height:30px;
  width:2px;
  margin-left: 5px;
}

.label-percent {
  float: right;
  margin-left: -10px;
}

.progress-bar {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: x-large;
}

.kickOffText {
  font-size: x-large;
  font-weight: 400;
}

.dateText {
  font-size: x-large;
  font-weight: 100;
}

.issue {
  color: red;
}

.blockText {
  color: yellow !important;
  filter: none !important;
}

.timeLine {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: x-large;
}

.aBlock {
  color: blue;
}
